body{
  background-color:black;


}

.layer{
width:100%;
height:2999px;
position:absolute;
top:0px;
left:0px;
opacity:0.4;
}

.layer1 {

background:url('https://jorisosterhaus.nl/graphics/pattern/img/image_5cde7fa8321ca6.10231630_optimised.png');

}
.layer2 {

background:url('https://jorisosterhaus.nl/graphics/pattern/img/image_5cdeae39a72e41.72381123_optimised.png');

}
.layer3 {
background:url('https://jorisosterhaus.nl/graphics/pattern/img/image_5cdeae39a72e41.72381123_optimised.png');

  
}
